{% extends 'base.html.twig' %}

{% block content %}
    <section id="list-conferences">
        <div class="container">
            <div class="row">
                <div class="col-md-10 m-auto">
                    {{ include('conference/_search_form.html.twig') }}

                    <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
                        {% for conference in conferences %}
                            {{ include('conference/_card.html.twig', {'conference': conference}, with_context: false) }}
                        {% else %}
                            <div> There are no conferences yet...</div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col m-auto justify-content-start">
                            <a href="{{ path('app_conference_list') }}">
                                <button class="btn text-black bg-white" style="border-color: limegreen;">Back</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
